table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #333333;
}

tr:nth-child(even) {
  background-color: #222222;
}